<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DNN AUTO DETAILING</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Packages", packages_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Detail Estimate", estimate_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About Us", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Help", help_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Us", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>