<div class="container">
	<div class="row">
		<div class="card m-2">
			<h3 class="card-header">Detail Estimate</h3>
			<div class="card-body pb-2">
				Fill out the form below to see how much a complete detail service will cost for your vehicle.
			<hr>
				<small>
					Let's get started! Select the options below that best descibe your vehicle and the services you would like for us to provide.
				</small>
			</div>
		</div>
	</div>
</div>