<div class="container">
	<div class="row p-2">
		<div>
			<p class="lead">
				Call us to schedule your mobile auto detailing in Destin, Sandestin, Santa Rosa Beach, or Fort Walton Beach areas! We come and do the rest for you!
			</p>
			<button class="btn btn-block btn-primary mb-4">
				<%= fa_icon('phone', class: 'outline pr-1') %> 
				Click to Call Us!
			</button>
		</div>
		<div>
			<h4>About Us</h4>
			<p>
				Even an old car can look new with help from an auto detailing service! Car detailing is what causes some vehicles to look so bright and shiny. Getting it detailed is a great way to make heads turn.
			</p>
		</div>
		<div>
			<h4>Services</h4>
			<p>
				We offer many auto and boat detailing services options. It's the convenient way to keep your car and boat healthy and in top condition.
			</p>
		</div>
		<div>
			<h4>Packages</h4>
			<p>
				Choose of our different options of packages, which one is the right for you?
			</p>
		</div>
	</div>
</div>