<div class="container">
	<div class="row m-2">
		<h1>Detailing Packages</h1>
			We have many different packages for you to choose from for your vehicle cleaning needs. Please review the packages below and contact us today to schedule a vehicle detail.
	</div>
</div>